In [21]:
import jsonrpc_requests
import pandas as pd


b = jsonrpc_requests.Server('http://user:pass@172.17.0.7:8332')

In [44]:
df0 = pd.read_csv('Extranonce-analysis2009.csv')

In [48]:
df = df0.copy()

In [49]:
df.columns=['h', 'dalloc', 'walloc', 'nalloc']

In [50]:
df = df.assign(utxo=sutxo)

In [61]:
df = df[0:36287]

In [83]:
df.query('dalloc == dalloc and utxo == False')

           h dalloc walloc nalloc   utxo
9          9     52    NaN    NaN  False
78        78     15    NaN    NaN  False
286      286     51    NaN    NaN  False
688      688    152    NaN    NaN  False
726      726     56    NaN    NaN  False
877      877    798    NaN    NaN  False
1408    1408     25    NaN    NaN  False
1760    1760    953    NaN    NaN  False
1917    1917      1    NaN    NaN  False
1918    1918      2    NaN    NaN  False
1920    1920      4    NaN    NaN  False
2108    2108    936    NaN    NaN  False
2116    2116    944    NaN    NaN  False
2197    2197     88    NaN    NaN  False
2459    2459    160    NaN    NaN  False
2485    2485    238    NaN    NaN  False
2575    2575    649    NaN    NaN  False
2577    2577    651    NaN    NaN  False
2825    2825   1670    NaN    NaN  False
3416    3416   1512    NaN    NaN  False
3479    3479   1716    NaN    NaN  False
3909    3909    733    NaN    NaN  False
4584    4584    169    NaN    NaN  False
4588    4588    173    NaN    NaN  False
5171    5171     15    NaN    NaN  False
5172    5172     16    NaN    NaN  False
5326    5326    618    NaN    NaN  False
5606    5606   1961    NaN    NaN  False
6908    6908    164    NaN    NaN  False
7663    7663    909    NaN    NaN  False
...      ...    ...    ...    ...    ...
17052  17052    104    NaN    NaN  False
17054  17054    106    NaN    NaN  False
17149  17149    309    NaN    NaN  False
17153  17153    313    NaN    NaN  False
17154  17154    314    NaN    NaN  False
17156  17156    316    NaN    NaN  False
17157  17157    317    NaN    NaN  False
17332  17332      2    NaN    NaN  False
17333  17333      3    NaN    NaN  False
17577  17577    103    NaN    NaN  False
17673  17673     93    NaN    NaN  False
17732  17732    342    NaN    NaN  False
17904  17904    113    NaN    NaN  False
17997  17997    409    NaN    NaN  False
18027  18027    439    NaN    NaN  False
18029  18029    441    NaN    NaN  False
18030  18030    442    NaN    NaN  False
18091  18091    303    NaN    NaN  False
18256  18256    670    NaN    NaN  False
18262  18262    676    NaN    NaN  False
18521  18521     99    NaN    NaN  False
19093  19093   2733    NaN    NaN  False
19293  19293    872    NaN    NaN  False
19296  19296    875    NaN    NaN  False
19308  19308    949    NaN    NaN  False
19312  19312    953    NaN    NaN  False
19378  19378     24    NaN    NaN  False
20003  20003    134    NaN    NaN  False
20005  20005    136    NaN    NaN  False
20006  20006    137    NaN    NaN  False

[73 rows x 5 columns]

In [80]:
a = len(df.query('dalloc == dalloc and utxo == True'))
b = len(df.query('dalloc == dalloc and utxo == False'))
print (a, b, b/(a+b))

14742 73 0.004927438407019912

In [85]:
df.query('walloc == walloc and utxo == False')

           h dalloc walloc nalloc   utxo
20448  20448    NaN     18    NaN  False
21439  21439    NaN     21    NaN  False
21440  21440    NaN     23    NaN  False
21441  21441    NaN     24    NaN  False
21442  21442    NaN     26    NaN  False
21443  21443    NaN     27    NaN  False
21444  21444    NaN     29    NaN  False
21445  21445    NaN     30    NaN  False
21446  21446    NaN     32    NaN  False
21447  21447    NaN     33    NaN  False
21448  21448    NaN     34    NaN  False
21451  21451    NaN     38    NaN  False
21459  21459    NaN     47    NaN  False
21460  21460    NaN     48    NaN  False
21461  21461    NaN     49    NaN  False
21462  21462    NaN     51    NaN  False
21463  21463    NaN     53    NaN  False
21464  21464    NaN     55    NaN  False
21465  21465    NaN     56    NaN  False
21466  21466    NaN     58    NaN  False
21470  21470    NaN     62    NaN  False
21877  21877    NaN    340    NaN  False
21879  21879    NaN    342    NaN  False
22819  22819    NaN    219    NaN  False
22821  22821    NaN    221    NaN  False
22826  22826    NaN    226    NaN  False
22827  22827    NaN    227    NaN  False
23014  23014    NaN   2241    NaN  False
23141  23141    NaN     56    NaN  False
23520  23520    NaN     70    NaN  False
...      ...    ...    ...    ...    ...
28821  28821    NaN      4    NaN  False
28824  28824    NaN     96    NaN  False
28829  28829    NaN    104    NaN  False
28831  28831    NaN    122    NaN  False
28833  28833    NaN    124    NaN  False
28837  28837    NaN    128    NaN  False
28841  28841    NaN    132    NaN  False
28946  28946    NaN    534    NaN  False
29097  29097    NaN   1237    NaN  False
30253  30253    NaN      9    NaN  False
30276  30276    NaN    223    NaN  False
30277  30277    NaN    224    NaN  False
30481  30481    NaN    732    NaN  False
32739  32739    NaN      1    NaN  False
32741  32741    NaN      3    NaN  False
32746  32746    NaN      8    NaN  False
32748  32748    NaN     59    NaN  False
32750  32750    NaN     61    NaN  False
32752  32752    NaN     63    NaN  False
32753  32753    NaN     79    NaN  False
32806  32806    NaN    322    NaN  False
32820  32820    NaN    336    NaN  False
32831  32831    NaN    524    NaN  False
32836  32836    NaN    529    NaN  False
33388  33388    NaN   1925    NaN  False
33897  33897    NaN   3799    NaN  False
33905  33905    NaN   3808    NaN  False
33908  33908    NaN   3811    NaN  False
33930  33930    NaN   3832    NaN  False
33940  33940    NaN   3842    NaN  False

[110 rows x 5 columns]

In [81]:
a = len(df.query('walloc == walloc and utxo == True'))
b = len(df.query('walloc == walloc and utxo == False'))
print (a, b, b/(a+b))

4443 110 0.024159894575005492

In [82]:
a = len(df.query('nalloc == nalloc and utxo == True'))
b = len(df.query('nalloc == nalloc and utxo == False'))
print (a, b, b/(a+b))

3302 13617 0.8048348011111768

In [75]:
len(df.query('walloc == walloc and utxo == True'))

4443

In [76]:
len(df.query('walloc == walloc and utxo == False'))

110

In [77]:
len(df.query('nalloc == nalloc and utxo == True'))

3302

In [78]:
len(df.query('nalloc == nalloc and utxo == False'))

13617

In [34]:
pd.Series([b.gettxout(b.getblock(b.getblockhash(i))['tx'][0], 0) != None for i in range(36287)])

0        False
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9        False
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
36257    False
36258    False
36259    False
36260     True
36261    False
36262     True
36263    False
36264     True
36265    False
36266    False
36267    False
36268    False
36269    False
36270    False
36271    False
36272    False
36273     True
36274    False
36275     True
36276    False
36277    False
36278    False
36279    False
36280    False
36281    False
36282    False
36283     True
36284     True
36285    False
36286    False
Length: 36287, dtype: bool

In [35]:
sutxo = _